@media only screen and (max-width: 1086px) {
    .nav-route-list {
        display: none !important;
        position: relative;
    }
    .welcome-to-commuinty-div{
        padding-top: 5%;
    }
    .responsive-list{
        display: none !important;
    }
    .list-item:hover{
        background-color: #2B5196 !important;
        color: white;
    }
    .setting-button{
        display: block !important;
    }
    .nav{
        width: 100% !important;
        position: -webkit-sticky;
        position: sticky;
        top: 0; z-index: 1;
    }
    .body{
        width: 100%;
        padding-top: 5%
    }
    .news-card-div{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
  }
  @media only screen and  (max-width: 991px) {
      .white_bg_responsive_text{
          display: flex;
          flex-direction: column;
          align-items: center;
      }
     
  }
  @media only screen and  (max-width: 750px) {
      .img-box{
          display: none !important;
      }
  }
  @media only screen and (max-width: 700px) {
    .body{
        margin-right: -8px !important;
        width: 100%;
        z-index: 1;
        overflow-x: hidden!important;
    }
    .nav{
        padding-right: 0% !important;
        justify-content: space-between;
        position: -webkit-sticky !important;
        position: fixed!important;
        top: 0!important; 
        z-index: 6;
    }
    .welcome-to-commuinty-div{
        min-height: 120vh !important;
    }
    
 .img-box{
     display: none;
     
}
    .form{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .welcome-to-commuinty-div-text{
        width: 100% !important;
        height: 70vh !important;
    }
    .welcome-to-commuinty-div-images{
        width: 100% !important;
    }
    .width-30{
        width: 80vw !important;
        margin: auto ;
    }
    .black-box{
        padding: 0% !important;
        padding-top: 5% !important;
        padding-bottom: 5% !important;
    }
    .black-box-category{
        height: max-content;
    }
    .news-card-div{
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .news-cards{
        margin-left: 0% !important;
        margin-right: 0% !important;
    }
  }
  @media only screen and (min-width: 450px) {
      
    .white_bg_responsive_text_sm{
        width: 400px;
    }
  }
  @media only screen and (max-width: 450px) {
      
  .white-bg-img{
        width: 170px;
        height: 200px;
  }
  .font-53{
      font-size: 50px !important;
      margin-left: 15px;
  }
  }
  @media only screen and (max-width: 360px) {
      .winsisu-text-box{
          padding-left: 0%;
      }
      
    .welcome-to-commuinty-div{
        padding-top: 10%;
    }
      .setting-button{
          padding: 0% !important;
      }
  .white-bg-img{
        width: 150px;
        height: 170px;
  }
  }
  @media only screen and (max-width: 370px)  {
  
  }
  .sidebar{
      display: block;
      position: fixed; /* Stay in place */
      z-index: 4; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      overflow: auto;
      background-color: white;
      /* backdrop-filter: blur(4px); */
  }
  .list-item{
      cursor: pointer;
  }
  .list-item:hover{
      background-color: #eee;
      color: #1D1D1D
  }
  /* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  /* preloader  */
@-webkit-keyframes entrypoint{
    0% {
        display: flex;
        justify-content: center;
    }
    
    25% {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    50% {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
    }
    90% {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    100% {
        display: none;
        justify-content: center;
        align-items: center;
    }
}
@keyframes entrypoint{
    0% {
        display: flex;
        justify-content: center;
    }
    
    25% {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    50% {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20%;
    }
    90% {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    100% {
        display: none;
        justify-content: center;
        align-items: center;
    }
}
  .preloader{
      display: flex;
      background-color: #ffffff ;
      position: fixed; /* Stay in place */
      z-index: 100; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */ 
      animation-name: entrypoint;
      animation-duration: 5s;
      animation-delay: -1s;
      transition: align-items 2s, ;
  }